:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --occasionally-next-color: #ffffff;
}
body {
  font-family: Roboto sans-serif;
  font-style: normal;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--primery-text-color);
}
ul {
  list-style: none;
}
.button:hover,
.button:focus {
  background: #2196f3;
}
.button {
  cursor: pointer;
}
.button-push {
  background: #2196f3;
}
.link-webstudio {
  font-family: Raleway sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.logo-without-web {
  color: #212121;
}

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.link-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
.content-title {
  text-transform: uppercase;
  color: var(--occasionally-next-color);
  text-align: center;
  letter-spacing: 0.06em;
  /* задав колір фону щоб було видно білий напис */
  background: #2f303a;
}
.transparent-title {
  font-size: 1px;
}
.title-text {
  font-size: 14px;
  line-height: 1.74;
}
.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}
.worker-occupation {
  font-size: 16px;
  line-height: 1.9;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--occasionally-next-color);
  /* задав колір фону щоб було видно білий напис */
  background: #2f303a;
}
.logo-without-web-footer {
  color: #ffffff;
  /* задав колір фону щоб було видно білий напис */
  background: #2f303a;
}
.work-did-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.work-did-title-text {
  font-size: 16px;
  line-height: 1.87;
}
