:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --occasionally-next-color: #ffffff;
}
body {
  font-family: Roboto sans-serif;
  font-style: normal;
  color: var(--primery-text-color);
}
a {
  text-decoration: none;
  color: var(--primery-text-color);
}
ul {
  list-style: none;
}
.button:hover,
.button:focus {
  background: #2196f3;
}
.button {
  cursor: pointer;
}
.button-push {
  background: #2196f3;
}
.link-webstudio {
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.logo-without-web {
  color: #212121;
}

.title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.link-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-text-color);
}
.content-title {
  text-transform: uppercase;
  color: var(--occasionally-next-color);
}
.title-text {
  font-size: 14px;
  line-height: 24px;
}
.title-work {
  font-size: 36px;
  line-height: 42px;
  color: var(--title-text-color);
}
.worker-name {
  font-size: 16px;
  line-height: 19px;
  color: var(--title-text-color);
}
.worker-occupation {
  font-size: 16px;
  line-height: 19px;
}
.footer-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--occasionally-next-color);
}
.logo-without-web-footer {
  color: #ffffff;
}
.work-did-title {
  font-size: 18px;
  line-height: 36px;
  color: var(--title-text-color);
}
.work-did-title-text {
  font-size: 16px;
  line-height: 30px;
}
